#TODO: standardize config directory
CLAUDE.md

# Pihole
**.env
pihole/etc-pihole

#Syncthings
syncthings/config
syncthings/data

# Traefik
traefik/acme/acme.json
traefik/letsencrypt
traefik/logs/
traefik/.env


